* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.conteiner {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.hotel-grid {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__menu-button {
  display: none;
}

.navbar__search {
  margin: auto;
  margin-left: 108px;
}

.navbar-botton {
  background-color: #0A223D;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A223D;
  color: #ffffff;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.5px;
}

.logo {
  display: flex;
  align-items: center;
  width: 177px;
  height: auto;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__input:focus {
  outline: none;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border: none;
  background-color: #EC1F46;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  letter-spacing: 0.5px;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 16px 2px;
  margin: 0;
  list-style-type: none;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 17px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: " / ";
  margin-right: 4px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.hotel {
  padding-top: 19px;
  padding-bottom: 70px;
}

.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  margin-left: 11px;
  margin-bottom: 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  letter-spacing: 0.2px;
}

.hotel-grid {
  display: flex;
  justify-content: space-between;
}

.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  flex-basis: 100%;
}

.stars-img {
  margin-right: -2px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 11px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
}

.rating__text {
  font-size: 7px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.swiper-container {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}

.swiper-container::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 10;
}

.slider {
  width: 728px;
  height: 100%;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.slider-button--next {
  right: 18px;
  background-image: url(../img/arrow-next.svg);
}

.slider-button--prev {
  left: 18px;
  background-image: url(../img/arrow-prev.svg);
}

.slider .slider-wrapper__img {
  background-size: cover;
}

.booking {
  border-radius: 8px;
  width: 350px;
  height: 210px;
  padding: 28px 29px 28px 26px;
  background-color: #0A223D;
  color: #ffffff;
}

.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.booking__price {
  display: flex;
  flex-direction: column;
}

.booking__start {
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

.booking__per-room {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.booking__room {
  margin-top: 4px;
}

.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

.booking__description {
  margin-left: 9px;
}

.booking__call-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.booking__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: inherit;
  text-decoration: none;
}

.booking__num {
  margin-left: 8px;
}

.booking__button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  min-height: 45px;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 900px;
  }
  .slider {
    width: 526px;
  }
  .swiper-slide__img {
    height: 100%;
    object-fit: cover;
  }
  .navbar__search {
    margin: auto;
    margin-left: 87px;
  }
  .navbar-menu {
    padding: 24px 0;
  }
  .search__input {
    width: 295px;
  }
  .search__button {
    width: 55px;
  }
  .user__avatar {
    width: 35px;
    height: 35px;
  }
  .user__name {
    margin-left: 10px;
  }
  .breadcrumb-list {
    padding: 11px 0px;
  }
  .hotel {
    padding-top: 15px;
  }
  .hotel-name {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }
  .rating {
    max-width: 56px;
    min-height: 40px;
  }
}

@media (max-width: 992px) {
  .conteiner {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin: auto;
    margin-right: 73px;
  }
  .navbar-menu {
    padding: 21px 14px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0px;
  }
  .navbar-menu-top {
    margin-left: 108px;
  }
  .search {
    height: 40px;
  }
  .user__avatar {
    width: 40px;
    height: 40px;
  }
  .user__name {
    margin-left: 19px;
  }
  .search__input {
    width: 340px;
  }
  .search__button {
    width: 65px;
    height: 100%;
  }
  .breadcrumb-list {
    padding: 17px 0;
  }
  .hotel {
    padding-top: 18px;
  }
  .hotel-info {
    padding-bottom: 17px;
  }
  .hotel-name {
    font-size: 24px;
    line-height: 28px;
  }
  .hotel-description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    flex-direction: row;
  }
  .stars-img {
    margin-right: -2px;
  }
  .rating {
    max-width: 65px;
    min-height: 45px;
  }
  .offer {
    padding: 4px 11px;
  }
  .swiper-container {
    height: 450px;
  }
  .slider {
    width: 700px;
  }
  .booking {
    width: 340px;
    padding: 29px 23px 27px 23px;
  }
  .booking__info {
    margin-bottom: 9px;
  }
  .map {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .conteiner {
    max-width: 650px;
  }
  .search__input {
    width: 274px;
  }
  .slider {
    width: 650px;
  }
  .swiper-container {
    height: 100%;
  }
  .booking {
    width: 306px;
    height: 190px;
    padding: 26px 16px 27px 20px;
  }
  .booking__info {
    margin-bottom: 7px;
  }
  .booking__start {
    font-size: 9px;
    line-height: 14px;
  }
  .booking__pricetag {
    font-size: 22px;
    line-height: 26px;
  }
  .booking__text {
    margin-bottom: 5px;
  }
  .booking__description {
    margin-left: 5px;
  }
  .booking__heading {
    font-size: 16px;
  }
  .booking__button {
    width: 98%;
    min-height: 37px;
    font-size: 12px;
  }
  .booking__call-center {
    margin-bottom: 15px;
  }
  .map {
    width: 306px;
    height: 190px;
  }
}

@media (max-width: 700px) {
  .conteiner {
    max-width: 480px;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .hotel-info__rating {
    display: none;
  }
  .logo {
    width: 99px;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .swiper-container {
    height: 300px;
  }
  .slider {
    width: 480px;
  }
  .booking {
    width: 220px;
    height: 180px;
    padding: 21px 15px;
    margin-bottom: 21px;
  }
  .map {
    width: 220px;
    height: 180px;
  }
}

@media (max-width: 568px) {
  .conteiner {
    max-width: 450px;
    width: 92%;
  }
  .swiper-container {
    height: 310px;
  }
  .slider {
    width: 450px;
  }
  .booking {
    width: 220px;
    height: 173px;
    padding: 15px 17px;
    margin-bottom: 21px;
  }
  .map {
    width: 220px;
    height: 173px;
  }
}

@media (max-width: 480px) {
  .conteiner {
    max-width: 280px;
    width: 92%;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .navbar-top {
    padding-top: 26px;
    padding-bottom: 31px;
  }
  .logo {
    width: 99px;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .breadcrumb-list {
    padding-top: 19px;
    padding-bottom: 9px;
  }
  .breadcrumb-wrapper {
    justify-content: space-between;
  }
  .breadcrumb-description {
    font-size: 14px;
  }
  .breadcrumb-name {
    padding-top: 11px;
  }
  .hotel {
    padding-top: 11px;
  }
  .hotel-wrapper {
    justify-content: space-between;
    padding: 0;
  }
  .hotel-name {
    padding-top: 14px;
    font-size: 24px;
  }
  .hotel-description {
    padding-top: 2px;
    font-size: 12px;
    line-height: 13px;
  }
  .hotel-info {
    padding-bottom: 38px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
  .hotel__slider {
    margin-bottom: 19px;
  }
  .hotel-right {
    flex-direction: column;
    justify-content: space-between;
  }
  .stars {
    flex-basis: 23%;
  }
  .stars-img {
    margin-right: -2px;
  }
  .offer {
    padding: 4px 11px;
  }
  .swiper-container {
    height: 180px;
  }
  .slider {
    width: 280px;
  }
  .booking {
    width: 280px;
    height: 210px;
    padding: 29px 21px 26px 24px;
    margin-bottom: 21px;
  }
  .booking__start {
    font-size: 10px;
    line-height: 17px;
  }
  .booking__pricetag {
    font-size: 24px;
    line-height: 28px;
  }
  .booking__room {
    margin-top: 5px;
  }
  .booking__text {
    margin-bottom: 7px;
  }
  .booking__description {
    margin-left: 8px;
  }
  .booking__call-center {
    margin-bottom: 18px;
  }
  .booking__heading {
    font-size: 17px;
  }
  .booking__num {
    margin-left: 11px;
  }
  .booking__button {
    width: 99%;
    min-height: 45px;
    font-size: 14px;
  }
  .map {
    width: 280px;
    height: 173px;
  }
}
