@media (max-width: 1200px)
  .conteiner
    max-width: 900px
  .navbar
    &-top
    &__search
      margin: auto
      margin-left: 87px
    &-menu
      padding: 24px 0
  .search
    &__input
      width: 295px
    &__button
      width: 55px
  .user
    &__avatar
      width: 35px
      height: 35px
    &__name
      margin-left: 10px
  .breadcrumb
    &-list
      padding: 11px 0px
  .hotel
    padding-top: 15px
    &-name
      font-size: 20px
      line-height: 24px
      margin: 0
  .rating
    max-width: 56px
    min-height: 40px

@media (min-width: 768px) and (max-width: 992px)
  .conteiner
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin: auto
      margin-right: 73px
    &-menu
      padding: 21px 14px
      &__link
        font-size: 12px
        line-height: 15px
        letter-spacing: 0px
      &-top
        margin-left: 108px
  .search
    height: 40px
  .user
    &__avatar
      width: 40px
      height: 40px
    &__name
      margin-left: 19px
  .search
    &__input
      width: 340px
    &__button
      width: 65px
      height: 100%
  .breadcrumb
    &-list
      padding: 17px 0
  .hotel
    padding-top: 18px
    &-info
      padding-bottom: 26px
    &-name
      font-size: 24px
      line-height: 28px
    &-description
      font-size: 12px
      line-height: 18px
      letter-spacing: 0.2px
  .stars
    &-img
      margin-right: -2px
  .rating
    max-width: 65px
    min-height: 45px
  .offer
    padding: 4px 11px
  .swiper-container
    height: 433px
  .slider
    width: 700px

@media (max-width: 767px)
  .conteiner
    max-width: 650px
    width: 90%
  .navbar
    &-top
    &__search
      margin: auto
    &-menu
      &__link
        font-size: 8px
        line-height: 12px
  .logo
    width: 139px
  .search
    &__input
      width: 190px
    &__button
      width: 40px
  .slider
    width: 650px

@media (min-width: 651px) and (max-width: 768px)
  .slider
    width: 600px
  .swiper-container
    height: 370px
  .slider
    width: 600px

@media (min-width: 551px) and (max-width: 650px)
  .slider
    width: 500px
  .swiper-container
    height: 260px
  .slider
    width: 500px

@media (min-width: 481px) and (max-width: 550px)
  .conteiner
    max-width: 480px
  .navbar
    &__search, &-menu, &__user
      display: none
  .hotel
    &-info
      &__rating
        display: none
  .logo
    width: 99px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text
  .swiper-container
    height: 173px
  .slider
    width: 350px

@media (min-width: 401px) and (max-width: 480px)
  .conteiner
    max-width: 350px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .logo
    width: 99px
  .hotel
    &-info
      &__rating
        display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text
  .swiper-container
    height: 173px
  .slider
    width: 350px

@media (max-width: 400px)
  .conteiner
    max-width: 280px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 26px
      padding-bottom: 31px
  .logo
    width: 99px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text
  .breadcrumb
    &-list
      padding-top: 19px
      padding-bottom: 9px
    &-wrapper
      justify-content: space-between
    &-description
      font-size: 14px
    &-name
      padding-top: 11px
  .hotel
    padding-top: 11px
    &-wrapper
      justify-content: space-between
      padding: 0
    &-name
      padding-top: 14px
      font-size: 24px
    &-description
      padding-top: 4px
      font-size: 12px
    &-info
      padding-bottom: 35px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .stars
    flex-basis: 23%
    &-img
      margin-right: -2px
  .offer
    padding: 4px 11px
  .swiper-container
    height: 173px
  .slider
    width: 280px
