@media (min-width: 1600px)
  .conteiner
    max-width: 1400px
  .logo
    width: 243px
    &__image
      width: 90%

@media (max-width: 1200px)
  .conteiner
    max-width: 927px
.navbar
  &-top
    padding-top: 32px
    padding-bottom: 28px
  &__search
    margin: auto
    margin-left: 88px
  &-menu
    padding: 24px 0
.logo
  width: 147px
.search
  &__input
    width: 295px
  &__button
    width: 55px
    height: 90%
.user
  &__avatar
    width: 35px
    height: 35px
  &__name
    margin-left: 11px
.breadcrumb
  &-list
    padding: 12px 0

@media (max-width: 768px)
  .conteiner
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
  .navbar
    &-menu
      padding-top: 20px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .user
    &__avatar
      width: 40px
      height: 40px
    &__name
      margin-left: 22px
  .search
    &__input
      width: 340px
    &__button
      width: 65px
      height: 100%
  .breadcrumb
    &-list
      padding: 17px 0

@media (min-width: 481px) and (max-width: 767px)
  .conteiner
    max-width: 650px
    width: 90%
  .navbar
    &-menu
      &__link
        font-size: 8px
        line-height: 12px
  .search
    &__input
      width: 190px
    &__button
      width: 40px

@media (min-width: 481px) and (max-width: 767px)

@media (max-width: 480px)
  .conteiner
    max-width: 400px
    width: 85%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text
  .stars
    flex-basis: 20%
  .hotel
    &__wrapper
      justify-content: space-between
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0

@media (max-width: 320px)
  .conteiner
    max-width: 280px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 24px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text
.breadcrumb
  &-list
    padding-top: 15px
    padding-bottom: 0
.hotel
  padding-top: 16px
  &-wrapper
    justify-content: space-between
  &-name
    padding-top: 10px
